.pn-icon-unfire-transition:before {
  content: "\e800";
} /* '' */
.pn-icon-reset:before {
  content: "\e801";
} /* '' */
.pn-icon-toggle-off:before {
  content: "\e802";
} /* '' */
.pn-icon-toggle-on:before {
  content: "\e803";
} /* '' */
.pn-icon-fire-transition:before {
  content: "\e805";
} /* '' */
.pn-icon-place:before {
  content: "\e806";
} /* '' */
.pn-icon-transition:before {
  content: "\e809";
} /* '' */
.pn-icon-inhibitor-arc:before {
  content: "\e80e";
} /* '' */
